@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes blinkCursor {
    50% {
      border-right-color: transparent;
    }
  }

@keyframes typeAndDelete {
    0%,
    10% {
      width: 0;
    }
    45%,
    55% {
      width: 4.8em;
    } /* adjust width based on content */
    90%,
    100% {
      width: 0;
    }
  }

  html {
    scroll-behavior: smooth;
  }
  
.loading {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    border-right: 0.2em solid green; /* Cursor */
    animation: typeAndDelete 4s steps(11) infinite,
      blinkCursor 0.5s step-end infinite alternate;
    margin-top: 1.5em;
  }
  
  .circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 5px;
  }

::-webkit-scrollbar {
    width: 7px; 
   
}
::-webkit-scrollbar-thumb {
  background-color: #0065ff;
  border-radius: 10px;
}
